// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.mt-1 {
    margin-top: 1%;
}

.mt-2 {
    margin-top: 2%;
}

.mt-3 {
    margin-top: 3%;
}

.mt-4 {
    margin-top: 4%;
}

.mt-5 {
    margin-top: 5%;
}

.ml-1 {
    margin-left: 1%;
}

.ml-2{
    margin-left: 2%;
}

.ml-3 {
    margin-left: 3%;
}

.ml-4 {
    margin-left: 4%;
}

.ml-5 {
    margin-left: 5%;
}

.mr-1 {
    margin-right: 1%;
}

.mr-2 {
    margin-right: 2%;
}

.mr-3 {
    margin-right: 3%;
}

.mr-4 {
    margin-right: 4%;
}

.mr-5 {
    margin-right: 5%;
}
