<ion-header>
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>
      <ion-grid>
        <ion-row justify-content-between align-items-center>
          <ion-col size="4">
            <ion-icon class="large-icon" name="contact"></ion-icon>
          </ion-col>
          <ion-col size="6" justify-content-center>
            <h1>FirstName LastName</h1>
          </ion-col>
          <ion-col size="1">
            <a href="/edit/id"><ion-icon class="update-icon" name="create"></ion-icon></a>
          </ion-col>
          <ion-col size="1">
            <a href="/delete/id"><ion-icon class="update-icon" name="trash"></ion-icon></a>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
